html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
:root {
  /* Typography */
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 1;
  font-size: 1.25rem;
  background: gray;
}
.nav-links {
  display: flex;
  margin-right: 3rem;
  list-style: none;
}
.logo {
  display: flex;
  flex-direction: row;
  color: white;
  letter-spacing: 3px;
  font-size: 5rem;
  padding-left: 5rem;
  font-family: "Roboto Slab", serif;
}
ul li {
  padding: 25px 25px;
}
.navbar a {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  color: #ffffff;
  text-decoration: none;
}
.links:hover {
  color: black;
  font-weight: bold;
}
/*Intro*/
.title-intro{
  margin-bottom: 0.25em;
  font-size: var(--h1);
  font-family: "Montserrat", sans-serif;
}
.auto-input{
  font-size: var(--h1);
  font-family: "Montserrat", sans-serif;
}
.title-subtitle {
  font-size: var(--h2);
  margin-bottom: 1em;
  font-family: "Montserrat", sans-serif;
}
.intro {
  width: 80%;
  margin: auto;
  text-align: left;
  padding-top: 100px;
}
.everything {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.image img {
  width: 40rem;
  margin-right: 15rem;
  border-radius: 5rem;
  margin-bottom: 3rem;
}
.texts {
  flex-basis: 60%;
  margin-bottom: 15%;
  padding: 30px 150px;
}
.texts h1,
p {
  margin: 10px 0;
}

/*About Me*/
.description {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 50px;
  border: 3px solid #000000;
  border-right-style: none;
  border-left-style: none;
  margin-bottom: 20rem;
}
.description h1 {
  font-size: var(--h2);
  font-family: "Montserrat", sans-serif;
}
.description p {
  font-size: var(--h3);
  font-family: "Montserrat", sans-serif;
}

/*Footer*/
.footer {
  width: 100%;
  text-align: center;
  padding: 1.875rem 0;
}
.icons .fa {
  color: black;
  margin: 0 0.813rem;
  cursor: pointer;
  padding: 1.125rem 0;
  font-size: 3rem;
}
.footer h5 {
  font-size: var(--h5);
  font-family: "Roboto Slab", serif;
}
.footer h3 {
  font-size: var(--h3);
  font-family: "Roboto Slab", serif;
}
